.DS_Store
*.example
Computer Vision/Retail/models/coco_classes.pickle
Computer Vision/Retail/models/mobilenet.pt
Computer Vision/Retail/models/mobilenet.pt.onnx
Computer Vision/Retail/models/frcnn-resnet.pt
Computer Vision/Retail/models/frcnn-resnet.pt.onnx
Computer Vision/Retail/models/frcnn-resnet.pt.onnx.archive
Computer Vision/Retail/models/frcnn-resnet.pt.onnx.archive
Computer Vision/Retail/models/mobilenet.pt.onnx.archive
Computer Vision/Retail/models2
compress_tutorials/
scratch/
LLM/Summarization/models/model-auto-conversion_hugging-face_complex-pipelines_hf-summarisation-bart-large-samsun.zip
Edge-Deployment/models/llm-summarization/model-auto-conversion_hugging-face_complex-pipelines_hf-summarisation-bart-large-samsun.zip
environment.env
Computer Vision/Retail/models/model-with-pixel-intensity.zip
Computer Vision/Retail/models/model-with-pixel-intensity/frcnn-resnet.pt.onnx
Computer-Vision/Retail/models/coco_classes.pickle
Computer-Vision/Retail/models/frcnn-resnet.pt
Computer-Vision/Retail/models/frcnn-resnet.pt.onnx
Computer-Vision/Retail/models/mobilenet.pt
Computer-Vision/Retail/models/mobilenet.pt.onnx
Computer-Vision/Retail/models/model-with-pixel-intensity.zip
Computer-Vision/Retail/models/post-process-drift-detection-arrow.py
Computer-Vision/Retail/models/post-process-drift-detection.zip
Computer-Vision/Retail/models/model-with-pixel-intensity/coco_classes.pickle
Computer-Vision/Retail/models/model-with-pixel-intensity/frcnn-resnet.pt.onnx
Computer-Vision/Retail/models/model-with-pixel-intensity/model-with-pixel-intensity.py
